/* About Section CSS */
.about-section {
  padding: 1rem !important;
  color: aliceblue;
}

.about-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: large;
  padding: 0.45rem;
}

.about-tech-icons {
  margin-top: 1.2rem;
  text-align: center;
}

.about-section-tech {
  margin-top: 3.5rem !important;
  margin: 80px;
  border: 2px solid #956fa5;
  background-color: #030209;
  border-radius: 2%;
}
.tech-icon {
  display: inline-block;
  border: 2px solid #ccc;
  margin: 20px;
  padding: 1.2rem;
  height: 15%;
  width: 10%;
  font-size: 80px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tech-icon:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.tech-name {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.tech-icon:hover .tech-name {
  display: block;
}
