/* Navbar.css */

/* .main {
  background-color: #030209;
} */

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: #030209 !important;
  z-index: 1000;
}

.content {
  background-color: #030209;
  padding-top: 3.8rem !important;
}

.logo {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  filter: brightness(150%);
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: center;
}

.navbar-nav .nav-link {
  color: white;
  margin-left: 20px;
  font-size: 1rem;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  top: 2px; /* Distance of the underline from the text */
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent; /* Initial color of the underline */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.navbar-nav .nav-link:hover::after {
  background-color: white; /* Change color of the underline on hover */
}
