/* Carousel Section */
.carousel-container {
  width: 100%;
}

.carousel-card {
  height: 500px !important;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}

.carousel-title {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  margin-bottom: 10px;
  color: white;
}

.carousel-description {
  font-size: 1.1rem !important;
  color: #b2abab;
}

.carousel-background {
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  height: 100%;
}

.carousel-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
  z-index: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 1, 17, 0.8)
}

/* Introduction Section */
.introduction-container {
  padding: 50px !important;
}

.intro-section {
  text-align: center;
  margin-bottom: 40px;
}

.intro-heading {
  font-size: 3rem !important;
  margin-bottom: 20px !important;
  color: #f0f0f0;
}

.intro-description {
  font-size: 1.2rem !important;
  color: #777;
}

.intro-section-image {
  height: 100%;
  width: 100%;
  margin: 10px;
  border-radius: 100%;
}

.intro-tagline {
  margin: 20px 0 !important;
  font-size: 1.1rem !important;
  color: #ff7f50; /* Orange color */
}

.intro-details-container {
  margin-top: 40px !important;
}

.intro-details {
  font-size: 1rem !important;
  line-height: 1.5 !important;
  margin-bottom: 20px !important;
}